<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
  <h3>Jenkins</h3>
</div>
<div class="modal-body" ng-controller="JenkinsCtl">
  <form>
    <fieldset class="span3">
          <legend>Add jenkins job </legend>
          <label >Server url : </label>
          <input type="url" ng-model="jenkinsServer" />&nbsp;
          <button class="btn" ng-click="searchJenkinsJobsAction()">Search</button>
          <label >Available jobs : </label>
          <select ui-select2 ng-model="selectedJob">
            <option  value="{{job}}" ng-repeat="job in jenkinsJobs" >{{job.name}}</option>
          </select>
          <br/><br/>
          <button class="btn btn-info" ng-click="addJenkinsJobAction(selectedJob);" ><i class="icon-ok" ></i> Add</button>
        </fieldset>
  </form>

</div>
