
<div class="navbar navbar-inverse">
	<div class="navbar-inner">
		<ul class="nav pull-right">
			<li ng-show="edition">
				<a href="" ng-click="saveDashboardAction()"><i class="icon-save"></i> Save</a>
			</li>
			<li ng-show="edition" class="dropdown">
				  <a class="dropdown-toggle" data-toggle="dropdown" href=""><i class="icon-cog"></i> Settings <span class="caret"></span></a>
				  <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
				   		<li><a href="" bs-modal="'views/modal/addJenkins.html'">Add jenkins job</a></li>
						<li><a href="" bs-modal="'views/modal/addTravis.html'">Add Travis CI job</a></li>
						<li class="divider"></li>
						<li><a href="" bs-modal="'views/modal/dashSettings.html'">Global parameter</a></li>
				  </ul>
			</li>
			<li>
				<a href="" ng-hide="edition"  ng-click="edition = true"><i class="icon-cog"></i> Edit </a>
				<a href="" ng-show="edition" ng-click="edition = false"><i class="icon-remove"></i> Close Edition</a>
			</li>
		</ul>
		<div class="navbar-text">
			<h5><a href="#/"><i class="icon-circle-arrow-left"></i></a>DASHBOARD {{dashboard.name}}</h5>
		</div>
	</div>
</div>

<div class="container-fluid">


	<div class="container-fluid" ui-sortable ng-model="dashboard.items">
	<div class="span3 jobs alert" ng-class="{'alert-error': item.status == 'fail', 'alert-success': item.status =='success','alert-info' : item.status == 'running'}"  ng-class="{}" ng-repeat="item in dashboard.items" >
	  		<div ng-show="edition" class="pull-right"><button class="btn" ng-click="selectItemAction(item)" bs-modal="'views/modal/itemEdit.html'"><i  class="icon-cog"></i> Edit</button></div>
	        <h4 >{{item.name}} <i ng-show="item.running == true" class=" icon-refresh icon-spin"></i></h4>
	        <p><i class="icon-time"></i> {{item.lastBuildDate|date:'dd/MM/yyyy HH:mm'}}</p>
	        <!-- <p>
	            <img src="{{item.url}}/test/trend" />
	        </p>
	 -->
	        <a href="{{item.url}}"><i class="icon-external-link"></i> more details</a>
	</div>
	</div>
</div>
