<h1>DASHBOARD {{dashboard.name}}</h1>
<div ng-switch on="settingsVisible" >
<div ng-when="true" ng-controller="DashParamsCtl">
<div class="well">

	<select ui-select2 ng-model="selectedJob">
		<option  value="{{job}}" ng-repeat="job in jenkinsJobs" >{{job.name}}</option>
	</select>

	<button class="btn btn-info" ng-click="addJenkinsJob(selectedJob)">Add jenkins job</button>

    <button class="btn btn-success" ng-click="saveDashboard()">Save</button>
</div>
</div>
</div>
<div class="container-fluid" ui-sortable ng-model="dashboard.items">
<div class="span3 jobs alert" ng-class="{'alert-error': item.info.color =='red', 'alert-success': item.info.color =='blue'}"  ng-class="{}" ng-repeat="item in dashboard.items" >
        <h4>{{item.name}}</h4>
        <br/>
        <i class="icon-time"></i> {{item.build.timestamp|date:'dd/MM/yyyy HH:mm'}}
</div>
</div>
