
<div class="navbar navbar-inverse">
	<div class="navbar-inner">
		<div class="pull-right">
			<button ng-hide="edition" class="btn " ng-click="edition = true"><i class="icon-cog"></i> Edit </button>
		</div>
		<div class="navbar-text">
			<h5><a href="#/"><i class="icon-circle-arrow-left"></i></a> DASHBOARD {{dashboard.name}}</h5>
		</div>
	</div>
</div>
<div class="container-fluid">
	<div ng-controller="DashParamsCtl" ng-show="edition" class="well">
		<button ng-show="edition" class="btn pull-right" ng-click="$parent.edition = false"><i class="icon-remove"></i> Close </button>
		<button class="btn btn-success" ng-click="saveDashboardAction()"><i class="icon-save"></i> Save</button>

		<form>
			<fieldset>
				<legend>Dashboard settings</legend>
				<label >Refresh interval(ms): </label>
				<input type="number" ng-model="dashboard.refreshInterval" />
			</fieldset>
			<div class="row-fluid">

				<fieldset class="span3">
					<legend>Add jenkins job </legend>
					<label >Server url : </label>
					<input type="url" ng-model="jenkinsServer" />&nbsp;
					<button class="btn" ng-click="searchJenkinsJobsAction()">Search</button>
					<label >Available jobs : </label>
					<select ui-select2 ng-model="selectedJob">
						<option  value="{{job}}" ng-repeat="job in jenkinsJobs" >{{job.name}}</option>
					</select>
					<br/><br/>
					<button class="btn btn-info" ng-click="addJenkinsJobAction(selectedJob)"><i class="icon-ok" ></i> Add</button>
				</fieldset>
				<fieldset class="span3">
					<legend>Add travis ci job </legend>
					<label>Repo name : </label>
					<input type="text" ng-model="travisRepoName" />
					<br/>
					<button class="btn btn-info" ng-click="addTravisJobAction(travisRepoName)"><i class="icon-ok" ></i> Add</button>
				</fieldset>
			</div>
		</form>


	</div>

	<div ng-show="edition &amp;&amp; selectedItem != null" ng-controller="ItemEditCtl" class="well">
		<button ng-show="edition" class="btn pull-right" ng-click="$parent.selectedItem = null"><i class="icon-remove"></i> Close </button>
		<h2>{{selectedItem.name}}</h2>
		<br/>
		<button class="btn btn-danger" ng-click="deleteItemAction(selectedItem)"><i class="icon-remove-sign"></i>Delete</button>
	</div>


	<div class="container-fluid" ui-sortable ng-model="dashboard.items">
	<div class="span3 jobs alert" ng-class="{'alert-error': item.status == 'fail', 'alert-success': item.status =='success','alert-info' : item.status == 'running'}"  ng-class="{}" ng-repeat="item in dashboard.items" >
	  		<div ng-show="edition" class="pull-right"><button class="btn" ng-click="selectItemAction(item)"><i  class="icon-cog"></i> Edit</button></div>
	        <h4 >{{item.name}} <i ng-show="item.running == true" class=" icon-refresh icon-spin"></i></h4>
	        <p><i class="icon-time"></i> {{item.lastBuildDate|date:'dd/MM/yyyy HH:mm'}}</p>
	        <!-- <p>
	            <img src="{{item.url}}/test/trend" />
	        </p>
	 -->
	        <a href="{{item.url}}"><i class="icon-external-link"></i> more details</a>
	</div>
	</div>
</div>
